extends ../common/admin/admin-layout

block content
    .row-content.am-cf
        .row
        .am-u-sm-12.am-u-md-12.am-u-lg-12
            .widget.am-cf
            .widget-head.am-cf
                .widget-title.am-cf 文章列表
            .widget-body.am-fr
                .am-u-sm-12.am-u-md-6.am-u-lg-6
                .am-form-group
                    .am-btn-toolbar
                    .am-btn-group.am-btn-group-xs
                        button.am-btn.am-btn-default.am-btn-success(type='button')
                        span.am-icon-plus
                        |  新增
                        button.am-btn.am-btn-default.am-btn-secondary(type='button')
                        span.am-icon-save
                        |  保存
                        button.am-btn.am-btn-default.am-btn-warning(type='button')
                        span.am-icon-archive
                        |  审核
                        button.am-btn.am-btn-default.am-btn-danger(type='button')
                        span.am-icon-trash-o
                        |  删除
                .am-u-sm-12.am-u-md-6.am-u-lg-3
                .am-form-group.tpl-table-list-select
                    select(data-am-selected="{btnSize: 'sm'}")
                    option(value='option1') 所有类别
                    option(value='option2') IT业界
                .am-u-sm-12.am-u-md-12.am-u-lg-3
                .am-input-group.am-input-group-sm.tpl-form-border-form.cl-p
                    input.am-form-field(type='text')
                    span.am-input-group-btn
                    button.am-btn.am-btn-default.am-btn-success.tpl-table-list-field.am-icon-search(type='button')
                .am-u-sm-12
                table#example-r.am-table.am-table-compact.am-table-bordered.am-table-radius.am-table-striped.tpl-table-black(width='100%')
                    thead
                    tr
                        th 文章缩略图
                        th 文章标题
                        th 作者
                        th 时间
                        th 操作
                    tbody
                    tr
                        td
                        img.tpl-table-line-img(src='assets/img/k.jpg', alt='')
                        td Amaze UI 模式窗口
                        td 张鹏飞
                        td 2016-09-26
                        td
                        .tpl-table-black-operation
                            a(href='javascript:;')
                            i.am-icon-pencil
                            |  编辑
                            a.tpl-table-black-operation-del(href='javascript:;')
                            i.am-icon-trash
                            |  删除
                    // more data
                .am-u-lg-12.am-cf
                .am-fr
                    ul.am-pagination.tpl-pagination
                    li.am-disabled
                        a(href='#') «
                    li.am-active
                        a(href='#') 1
                    li
                        a(href='#') 2
                    li
                        a(href='#') 3
                    li
                        a(href='#') 4
                    li
                        a(href='#') 5
                    li
                        a(href='#') »