extends ../common/admin/admin-layout

block content
    .container-fluid.am-cf
        .row
            .am-u-sm-12.am-u-md-12.am-u-lg-9
                .page-header-heading
                    span.am-icon-home.page-header-heading-icon
                    |  蓝剑图书馆 
                    small TYKJ
                p.page-header-description 蓝剑图书馆有近10多种分类，40多本图书，欢迎大家借阅。
            .am-u-lg-3.tpl-index-settings-button
                button.page-header-button(type='button')
                    span.am-icon-paint-brush
                    |  设置
    .row-content.am-cf
        .row.am-cf
            .am-u-sm-12.am-u-md-12.am-u-lg-4
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 月度借书统计
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    .widget-body.am-fr
                        .am-fl
                            .widget-fluctuation-period-text
                                | 23本
                                button.widget-fluctuation-tpl-btn
                                    i.am-icon-calendar
                                    |                         更多月份
                        .am-fr.am-cf
                            .widget-fluctuation-description-amount.text-success(am-cf='')
                                | +6本
                            .widget-fluctuation-description-text.am-text-right
                                | 比上月
            .am-u-sm-12.am-u-md-6.am-u-lg-4
                .widget.widget-primary.am-cf
                    .widget-statistic-header
                        | 借阅申请
                    .widget-statistic-body
                        .widget-statistic-value
                            | 16
                        .widget-statistic-description
                            strong 个借阅申请未处理
                        span.widget-statistic-icon.am-icon-credit-card-alt
            .am-u-sm-12.am-u-md-6.am-u-lg-4
                .widget.widget-purple.am-cf
                    .widget-statistic-header
                        | 本月新增图书
                    .widget-statistic-body
                        .widget-statistic-value
                            | 3
                        .widget-statistic-description
                            | 图书馆藏一共 
                            strong 45
                            |  本
                        span.widget-statistic-icon.am-icon-support
        .row.am-cf
            .am-u-sm-12.am-u-md-8
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 本周借书情况
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    #tpl-echarts.widget-body-md.widget-body.tpl-amendment-echarts.am-fr
            .am-u-sm-12.am-u-md-4
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 专用服务器负载
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    .widget-body.widget-body-md.am-fr
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar(style='width: 15%')
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar.am-progress-bar-warning(style='width: 75%')
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar.am-progress-bar-danger(style='width: 35%')
        .row.am-cf
            .am-u-sm-12.am-u-md-12.am-u-lg-4.widget-margin-bottom-lg
                .tpl-user-card.am-text-center.widget-body-lg
                    .tpl-user-card-title
                        span.u-nickname
                    .achievement-subheading
                        span.u-nickname
                    img.achievement-image(src='assets/img/user07.png', alt='')
                    .achievement-description
                        span.u-nickname 在
                        strong 30天内
                        |  借了
                        strong 20多
                        | 本书。
            .am-u-sm-12.am-u-md-12.am-u-lg-8.widget-margin-bottom-lg
                .widget.am-cf.widget-body-lg
                    .widget-body.am-fr
                        .am-scrollable-horizontal
                            table#example-r.am-table.am-table-compact.am-text-nowrap.tpl-table-black(width='100%')
                                thead
                                    tr
                                        th 书名
                                        th 借阅者
                                        th 时间
                                        th 操作
                                tbody
                                    tr.gradeX
                                        td clr via c#
                                        td 巫师
                                        td 2017-08-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  查看