extends layout

block content
    .container-fluid.am-cf
        .row
            .am-u-sm-12.am-u-md-12.am-u-lg-9
                .page-header-heading
                    span.am-icon-home.page-header-heading-icon
                    |  部件首页 
                    small Amaze UI
                p.page-header-description Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件。
            .am-u-lg-3.tpl-index-settings-button
                button.page-header-button(type='button')
                    span.am-icon-paint-brush
                    |  设置
    .row-content.am-cf
        .row.am-cf
            .am-u-sm-12.am-u-md-12.am-u-lg-4
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 月度财务收支计划
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    .widget-body.am-fr
                        .am-fl
                            .widget-fluctuation-period-text
                                | ￥61746.45
                                button.widget-fluctuation-tpl-btn
                                    i.am-icon-calendar
                                    |                         更多月份
                        .am-fr.am-cf
                            .widget-fluctuation-description-amount.text-success(am-cf='')
                                | +￥30420.56
                            .widget-fluctuation-description-text.am-text-right
                                | 8月份收入
            .am-u-sm-12.am-u-md-6.am-u-lg-4
                .widget.widget-primary.am-cf
                    .widget-statistic-header
                        | 本季度利润
                    .widget-statistic-body
                        .widget-statistic-value
                            | ￥27,294
                        .widget-statistic-description
                            | 本季度比去年多收入 
                            strong 2593元
                            |  人民币
                        span.widget-statistic-icon.am-icon-credit-card-alt
            .am-u-sm-12.am-u-md-6.am-u-lg-4
                .widget.widget-purple.am-cf
                    .widget-statistic-header
                        | 本季度利润
                    .widget-statistic-body
                        .widget-statistic-value
                            | ￥27,294
                        .widget-statistic-description
                            | 本季度比去年多收入 
                            strong 2593元
                            |  人民币
                        span.widget-statistic-icon.am-icon-support
        .row.am-cf
            .am-u-sm-12.am-u-md-8
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 月度财务收支计划
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    #tpl-echarts.widget-body-md.widget-body.tpl-amendment-echarts.am-fr
            .am-u-sm-12.am-u-md-4
                .widget.am-cf
                    .widget-head.am-cf
                        .widget-title.am-fl 专用服务器负载
                        .widget-function.am-fr
                            a.am-icon-cog(href='javascript:;')
                    .widget-body.widget-body-md.am-fr
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar(style='width: 15%')
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar.am-progress-bar-warning(style='width: 75%')
                        .am-progress-title
                            | CPU Load 
                            span.am-fr.am-progress-title-more 28% / 100%
                        .am-progress
                            .am-progress-bar.am-progress-bar-danger(style='width: 35%')
        .row.am-cf
            .am-u-sm-12.am-u-md-12.am-u-lg-4.widget-margin-bottom-lg
                .tpl-user-card.am-text-center.widget-body-lg
                    .tpl-user-card-title
                        | 禁言小张
                    .achievement-subheading
                        | 月度最佳员工
                    img.achievement-image(src='assets/img/user07.png', alt='')
                    .achievement-description
                        | 禁言小张在
                        strong 30天内
                        |  禁言了
                        strong 200多
                        | 人。
            .am-u-sm-12.am-u-md-12.am-u-lg-8.widget-margin-bottom-lg
                .widget.am-cf.widget-body-lg
                    .widget-body.am-fr
                        .am-scrollable-horizontal
                            table#example-r.am-table.am-table-compact.am-text-nowrap.tpl-table-black(width='100%')
                                thead
                                    tr
                                        th 文章标题
                                        th 作者
                                        th 时间
                                        th 操作
                                tbody
                                    tr.gradeX
                                        td 新加坡大数据初创公司 Latize 获 150 万美元风险融资
                                        td 张鹏飞
                                        td 2016-09-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  编辑
                                                a.tpl-table-black-operation-del(href='javascript:;')
                                                    i.am-icon-trash
                                                    |  删除
                                    tr.even.gradeC
                                        td 自拍的“政治角色”：观众背对希拉里自拍合影表示“支持”
                                        td 天纵之人
                                        td 2016-09-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  编辑
                                                a.tpl-table-black-operation-del(href='javascript:;')
                                                    i.am-icon-trash
                                                    |  删除
                                    tr.gradeX
                                        td 关于创新管理，我想和你当面聊聊。
                                        td 王宽师
                                        td 2016-09-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  编辑
                                                a.tpl-table-black-operation-del(href='javascript:;')
                                                    i.am-icon-trash
                                                    |  删除
                                    tr.even.gradeC
                                        td 究竟是趋势带动投资，还是投资引领趋势？
                                        td 着迷
                                        td 2016-09-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  编辑
                                                a.tpl-table-black-operation-del(href='javascript:;')
                                                    i.am-icon-trash
                                                    |  删除
                                    tr.even.gradeC
                                        td Docker领域再添一员，网易云发布“蜂巢”，加入云计算之争
                                        td 醉里挑灯看键
                                        td 2016-09-26
                                        td
                                            .tpl-table-black-operation
                                                a(href='javascript:;')
                                                    i.am-icon-pencil
                                                    |  编辑
                                                a.tpl-table-black-operation-del(href='javascript:;')
                                                    i.am-icon-trash
                                                    |  删除
                                    // more data