style.
  .tosmallbuttuon{ padding: .5em 6px;}

ul.am-pagination.am-pagination-default.am-no-layout(data-am-widget='pagination')
  li.am-pagination-first.tosmallbuttuon
    a(href='#') 第一页
  li.am-pagination-prev.tosmallbuttuon
    a(href='#') 上一页
  li
    a(href='#') 1
  li.am-active
    a.am-active(href='#') 2
  li
    a(href='#') 3
  li.am-pagination-next.am-disabled.tosmallbuttuon
    a(href='#', disabled='disabled') 下一页
  li.am-pagination-last.am-disabled.tosmallbuttuon
    a(href='#', disabled='disabled') 末页
